.container {
  background: #0b666a;
  min-height: 70vh;
  border-radius: 0.3rem;
  padding: 1em;
}

.over{
    background: #17adb5;  
}

@media screen and (max-width: 480px) {
  .container {
    min-height: 30vh;
  }
}
