.container {
  margin: 2rem 0rem;
  display: flex;
  flex-wrap: wrap;
}

.container input {
  padding: 0.5em 1em;
  border-radius: 0.3rem;
  border: none;
  margin-right: 0.5rem;
  outline: none;
}

.container button {
    padding: .5em 1em;
    border-radius: .3rem;
    border: none;
    cursor: pointer;
    background: #0B666A;
    color: whitesmoke;
    font-weight: bold;
    font-family: serif;
}
